@charset "UTF-8";
/* CSS Document */

@charset "UTF-8";
/* CSS Document */

/* Responsive Setup */

@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}
html{
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-text-size-adjust: 100%;
}

/* CSS */

html, body{
	font-family: Arial, sans-serif;
	color: #FFF;
	margin: 0;
	padding: 0;
	width: 100%;
	line-height: 1.3;
	background-color: #000;
	text-align: center;
}
.main{
	margin: 0 auto;
}

/* Masthead -------------------------------------------------------- */
.header-section {
	background: url(../images/blackpattern.png);
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}
.logo {
	margin: 0 auto 1.5em;
	display: block;
	width: 150px;
	opacity: 0.7;
	transition: all 500ms ease;
	position: relative;
}
.logo:hover{
	opacity: 1;
}

.rotate{
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
     
    overflow: hidden;
 
    }   
 
.rotate:hover   
{ 
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg); 
    -o-transform: rotate(360deg);
}   

/* Headers -------------------------------------------------------- */
h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 2.5em;
	color: #00F3FF;
	text-align: center;
	margin: 0;
	padding-left: 1rem;
	padding-right: 1rem;
}
h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 2.125em;
	color: #000;
	padding-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: 0;
}
h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 2.5em;
	color: #00F3FF;
	text-align: center;
	margin: 0;
	padding-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
}
p {
	color: #000;
	padding-left: 1rem;
	padding-right: 1rem;
}
.picture-section {
	background: url(../images/cat.png) center;
	background-size: cover;
	overflow: hidden;
	width: 1080px;
	height: 450px;
}
.flex{
	width: 100%;
	display: block;
	margin: 0 auto;
}
